<div class="cal-slide-box" collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed">
  <div class="cal-slide-content cal-event-list">
    <ul class="unstyled list-unstyled">

      <li
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.$id"
        ng-class="event.cssClass"
        mwl-draggable="event.draggable === true"
        drop-data="{event: event}">
        <span class="pull-left event" ng-class="'event-' + event.type"></span>
        &nbsp;
        <a
          href="javascript:;"
          class="event-item"
          ng-click="vm.onEventClick({calendarEvent: event})">
          <span ng-bind-html="vm.$sce.trustAsHtml(event.title)"></span>
          </a>

        <a
          href="javascript:;"
          class="event-item-edit"
          ng-if="vm.editEventHtml && event.editable !== false"
          ng-bind-html="vm.$sce.trustAsHtml(vm.editEventHtml)"
          ng-click="vm.onEditEventClick({calendarEvent: event})">
        </a>

        <a
          href="javascript:;"
          class="event-item-delete"
          ng-if="vm.deleteEventHtml && event.deletable !== false"
          ng-bind-html="vm.$sce.trustAsHtml(vm.deleteEventHtml)"
          ng-click="vm.onDeleteEventClick({calendarEvent: event})">
        </a>
      </li>

    </ul>
  </div>
</div>
