<ion-content id="login" ng-controller="LoginCtrl">
	<form name="userForm" id="userForm" ng-submit="doLogin(user)" novalidate>
		<div class="list list-inset">
			<label class="item item-input item-icon-left" style="margin-bottom: 5%">
				<div class="icon_holder"><img class="icon" src="img/user.png"></img>
				</div>
				<input type="text" name="name" placeholder="Username" ng-model="user.name" required>
			</label>
			<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">
				Username is required.
			</p>
			<label class="item item-input item-icon-left" style="margin-bottom: 5%">
				<div class="icon_holder"><img class="icon" src="img/lock.png"></img>
				</div>
				<input type="password" name="password" placeholder="Password" ng-model="user.password" required>
			</label>
			<p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">
				Password is required.
			</p>
		</div>
		<div style="text-align: center;padding: 10px">
			<input type='submit' class="button button-block button-assertive" ng-disabled="userForm.$invalid" value="Submit">

			</input>
			<a class="google-sign-in button button-block" ng-click="googleSignIn()">Sign in with Google</a>
		</div>
	</form>
</ion-content>

